footer.bg-white.py-4.mt-auto
    .d-flex.justify-content-center.fs-2.gap-4
        a.text-gradient(href="https://www.linkedin.com/in/jaco-slabbert-348653b0/") 
            i.bi.bi-linkedin
        a.text-gradient(href="https://github.com/jakes-slabbert") 
            i.bi.bi-github