doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Resume

        // Favicon
        link(rel='icon' type='image/x-icon' href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Resume
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 Experience

                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2024 - current
                                                .small.fw-bolder Self-employed
                                                .small.text-muted Fusion Tree Software
                                        .col-lg-8
                                            div During the first quarter of 2024, Fusion Tree Software was blessed to receive multiple contracts. The business is now proud to be helping mutiple clients reach their software goals with our in house tailored software philosophy that incorporates CQRS, Mediatr, and DDD, packaged in an Asp.Net Mvc web application. The MVC pattern is what helps us achieve peak project turn around times.

                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2023 - 2023
                                                .small.fw-bolder Full stack developer
                                                .small.text-muted Raging River
                                        .col-lg-8
                                            div In 2023, I was employed at Raging River Software. The company is responsible for the development of the Betway platform. I was fortunate enough to become part of the company's integration team and coded integrations with gaming providers in the casino division. 

                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2022 - current
                                                .small.fw-bolder Architect / Full stack developer
                                                .small.text-muted Fusion Tree Software
                                        .col-lg-8
                                            div In 2022, I had the opportunity to collaborate with a company in the agriculture sector. Together with industry experts, we crafted a detailed specification document that served as the blueprint for our development process. This allowed us to adopt a rapid development methodology and expedite feature releases. We utilized a simple yet effective tech stack, comprising MediatR, ASP.NET Core, C#, MVC, and CQRS, which enabled us to swiftly navigate through the project phases.

                            

                            // Experience Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2022 - 2023
                                                .small.fw-bolder Full stack developer
                                                .small.text-muted Intigriti
                                        .col-lg-8
                                            div I served as a Full Stack Developer, working with a diverse tech stack that included C# .NET Core, MVC, Angular-based front-ends, Postgres, and MongoDB. My experience with an event queue-based microservice architecture not only expanded my knowledge about its implementation but also provided valuable insights into its advantages and drawbacks.

                            // Experience Card 3
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2022 - 2022
                                                .small.fw-bolder Full stack developer
                                                .small.text-muted CWare
                                        .col-lg-8
                                            div I was entrusted with the responsibility of spearheading a rescue mission for a project (C# .Net core, Blazor front end, MS SQL Server) that had lost its lead developer. Within a span of one month, we successfully revived the application, integrated it with PowerBi, and ensured its compliance with POPIA.

                            // Experience Card 4
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2022 - 2022
                                                .small.fw-bolder Intermediate Software Developer
                                                .small.text-muted Qode Health Solutions
                                        .col-lg-8
                                            div My role encompassed the development of new applications, specifically in the Fintech sector. We successfully built a compact and efficient application using .Net Core, C#, Angular, and MS SQL Server. The powerful combination of CQRS, DDD, and Mediatr patterns, hosted with Azure, significantly enhanced our application’s performance. Prior to this, I was involved in maintaining and developing new features for an existing system, which was constructed using .Net, C#, MVC, Xamarin, and MS SQL Server on a local server. 
                                            br
                                            div I was a member of the One Security Council (OSC), a team of 14 individuals responsible for ensuring security compliance across five sister companies. Our mandate included adherence to ISO12007, POPIA, and Penetration Testing Compliance standards.

                            // Experience Card 5
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2020 - 2022
                                                .small.fw-bolder Project co-lead
                                                .small.text-muted Contract Developer
                                        .col-lg-8
                                            div This project served as a significant learning experience for me, enriching my understanding of design patterns, data structures, and best coding practices. The project was built with an Angular front end and a C# .Net Core backend, utilizing Mediatr, CQRS, DDD, and three interconnected tree structures. Hosted in Azure - from DevOps to resources, the project spanned four years (from the end of 2018 to the start of 2022). The successful launch of the project stands as a testament to the skills and dedication of our talented team.    

                            // Expierence Card 6
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2018 - 2020
                                                .small.fw-bolder Junior/Intermediate Software Developer
                                                .small.text-muted Allegiance Consulting
                                        .col-lg-8
                                            div During my tenure at Allegiance, I initially dedicated my time to mastering Angular. Our team’s primary project was a financial planning tool, which evolved from aspx forms (legacy) and MVC to its final incarnation in Angular. This tool was built on .Net and MS SQL Server. This was also my first encounter with Azure and its resources, which I found to be a fascinating experience. From the outset, I developed a strong affinity for CI/CD. 
                                            br
                                            div The final project I undertook was my inaugural “rescue” project, which proved to be an invaluable learning experience. It provided me with comprehensive insights into various aspects of our industry, ranging from client interaction and architectural design to implementation. Even after my tenure at Allegiance concluded, this project continued to evolve and grow for an additional two years.

                            // Experience Card 7
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2015 - 2018
                                                .small.fw-bolder In-house Software Developer and all-round IT guy
                                                .small.text-muted LCP Roofing
                                        .col-lg-8
                                            div My initial job served as a rich source of learning opportunities that extended far beyond what can be encapsulated here. It was during this time that I honed my skills in database administration, firewall administration, and networking, among other areas.
                                            br
                                            div The primary application I was recruited to assist with was a locally hosted Business Process Management (BPM) system, developed on-site. The system was built using VB.Net as the coding language and leveraged MS SQL Server for data storage. Additionally, SQL Server Reporting was integrated into the system to facilitate both custom and auto-generated reports.  


                            // Education Section
                            section
                                h2.text-info.fw-bolder.mb-4 Education

                                // Education Card 1
                                .card.shadow.border-0.rounded-4.mb-5
                                    .card-body.p-5
                                        .row.align-items-center.gx-5
                                            .col.text-center.text-lg-start.mb-4.mb-lg-0
                                                .bg-light.p-4.rounded-4
                                                    .text-info.fw-bolder.mb-2 2007 - 2011
                                                    .mb-2
                                                        .small.fw-bolder Die Hoërskool Menlopark
                                                        .small.text-muted Pretoria, Gauteng
                                            .col-lg-8
                                                div During this period, I acquired fundamental problem-solving skills, specifically in the areas of advanced mathematics, information technology (software), and accounting.

                                // Education Card 2
                                .card.shadow.border-0.rounded-4.mb-5
                                    .card-body.p-5
                                        .row.align-items-center.gx-5
                                            .col.text-center.text-lg-start.mb-4.mb-lg-0
                                                .bg-light.p-4.rounded-4
                                                    .text-info.fw-bolder.mb-2 2012 - 2014
                                                    .mb-2
                                                        .small.fw-bolder CTI Education Group
                                                        .small.text-muted Pretoria, Gauteng
                                                    .fst-italic
                                                        .small.text-muted Higher certificate
                                                        .small.text-muted ISD (Information Software Development)
                                            .col-lg-8
                                                div During this period, my passion for software development and innovative problem-solving flourished exponentially. 
                                                br
                                                div My curriculum encompassed a diverse range of subjects, including but not limited to C#, ASP .Net, SQL Server, Database Administration, Perl, and Program Design. These subjects provided a comprehensive foundation for my future endeavors in the field.

                            // Divider
                            .pb-5

                            // Skills Section
                            section
                                // Skillset Card
                                .card.shadow.border-0.rounded-4.mb-5
                                    .card-body.p-5
                                        // Professional skills list
                                        .mb-5
                                            .d-flex.align-items-center.mb-4
                                                .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                    i.bi.bi-tools
                                                h3.fw-bolder.mb-0
                                                    span.text-gradient.d-inline Professional Skills
                                            .row.row-cols-1.row-cols-md-3.mb-4
                                                .col.mb-4.mb-md-0
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Scoping and spec'ing
                                                .col.mb-4.mb-md-0
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Architectural design
                                                .col
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Web Development
                                            .row.row-cols-1.row-cols-md-3
                                                .col.mb-4.mb-md-0
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Api Development
                                                .col.mb-4.mb-md-0
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Legacy code friendly
                                                .col
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Familiar with UX design principles
                                        // Languages list
                                        .mb-0
                                            .d-flex.align-items-center.mb-4
                                                .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                    i.bi.bi-code-slash
                                                h3.fw-bolder.mb-0
                                                    span.text-gradient.d-inline Languages
                                            .row.row-cols-1.row-cols-md-3.mb-4
                                                .col.mb-4.mb-md-0
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 HTML
                                                .col.mb-4.mb-md-0
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 CSS
                                                .col
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JavaScript
                                            .row.row-cols-1.row-cols-md-3.mb-4
                                                .col.mb-4.mb-md-0
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Typescript
                                                .col.mb-4.mb-md-0
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 C#
                                                .col
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 TSQL
                                            .row.row-cols-1.row-cols-md-3
                                                .col.mb-4.mb-md-0
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Php
                                                .col.mb-4.mb-md-0
                                                    .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Vue

        // Footer
        include includes/footer.pug

        include includes/scripts.pug